:root {
    --highlight-top-head: #f2f2f2;
    --the-dialogue-sender: #f0f0f0;
    --the-dialogue-responder: #d7ecff;
    --primary-text-color: #502996;
    --info-text-color: #087990;
    --success-text-color: #146c43;
    --warning-text-color: #997404;
    --danger-text-color: #F56C6C;
    --label-text-color: #fdfdfd;
    --label-primary-bg-color: #653eab;
    --label-info-bg-color: #0a58ca;
    --label-success-bg-color: #198754;
    --label-warning-bg-color: #ffc107;
    --label-danger-bg-color: #b02a37;

    --note-primary-bg-color: #e7daff;
    --note-primary-color: #2a066c;
    --note-primary-border-color: #b08cf1;

    --note-info-bg-color: #cfe2ff;
    --note-info-color: #0a58ca;
    --note-info-border-color: #9ec5fe;

    --note-success-bg-color: #d1e7dd;
    --note-success-color: #146c43;
    --note-success-border-color: #a3cfbb;

    --note-warning-bg-color: #fff3cd;
    --note-warning-color: #997404;
    --note-warning-border-color: #ffe69c;

    --note-danger-bg-color: #f8d7da;
    --note-danger-color: #b02a37;
    --note-danger-border-color: #f1aeb5;

    --note-secondary-bg-color: rgba(187,187,187,.25);
    --note-secondary-color: var(--text-color);
    --note-secondary-border-color: #777;
    
    --note-light-bg-color: #fcfcfd;
    --note-light-color: var(--text-color);
    --note-light-border-color: #0f0f0f;
}
[data-user-color-scheme="dark"] {
    --post-text-color: #dedede;
    --highlight-bg-color: #0c0c0c;
    --highlight-top-head: #000;
    --the-dialogue-sender: #414750;
    --the-dialogue-responder: #0f65a9;
    --label-text-color: #dedede;
    --primary-text-color: #c19cf1;
    --info-text-color: #6edff6;
    --success-text-color: #79edb7;
    --warning-text-color: #ffda6a;
    --danger-text-color: #ea868f;

    --note-primary-bg-color: #1b0542;
    --note-primary-color: #b088f8;
    --note-primary-border-color: #a780ed;

    --note-info-bg-color: #031633;
    --note-info-color: #6ea8fe;
    --note-info-border-color: #6ea8fe;

    --note-success-bg-color: #051b11;
    --note-success-color: #75b798;
    --note-success-border-color: #0f5132;

    --note-warning-bg-color: #332701;
    --note-warning-color: #ffda6a;
    --note-warning-border-color: #664d03;

    --note-danger-bg-color: #2c0b0e;
    --note-danger-color: #ea868f;
    --note-danger-border-color: #842029;

    --note-secondary-bg-color: #212529;
    --note-secondary-color: #dee2e6;
    --note-secondary-border-color: #495057;
    
    --note-light-bg-color: #343a40;
    --note-light-color: #f8f9fa;
    --note-light-border-color: #495057;
}


.text-primary,
.primary-text {
    color: var(--primary-text-color)!important;
}
.text-info,
.info-text {
    color: var(--info-text-color)!important;
}
.text-success,
.success-text {
    color: var(--success-text-color)!important;
}
.text-warning,
.warning-text {
    color: var(--warning-text-color)!important;
}
.text-danger,
.danger-text {
    color: var(--danger-text-color)!important;
}

.label-primary {
    background-color: var(--label-primary-bg-color);
    color: var(--label-text-color);
    font-weight: bold;
}
.label-info {
    background-color: var(--label-info-bg-color);
    color: var(--label-text-color);
    font-weight: bold;
}
.label-success {
    background-color: var(--label-success-bg-color);
    color: var(--label-text-color);
    font-weight: bold;
}
.label-warning {
    background-color: var(--label-warning-bg-color);
    color: #202020;
    font-weight: bold;
}
.label-danger {
    background-color: var(--label-danger-bg-color);
    color: var(--label-text-color);
    font-weight: bold;
}

.note-primary {
    color: var(--note-primary-color);
    border-color: var(--note-primary-border-color);
    background-color: var(--note-primary-bg-color);
}
.note-info {
    color: var(--note-info-color);
    border-color: var(--note-info-border-color);
    background-color: var(--note-info-bg-color);
}
.note-success {
    color: var(--note-success-color);
    border-color: var(--note-success-border-color);
    background-color: var(--note-success-bg-color);
}
.note-warning {
    color: var(--note-warning-color);
    border-color: var(--note-warning-border-color);
    background-color: var(--note-warning-bg-color);
}
.note-danger {
    color: var(--note-danger-color);
    border-color: var(--note-danger-border-color);
    background-color: var(--note-danger-bg-color);
}
.note-secondary {
    color: var(--note-secondary-color);
    border-color: var(--note-secondary-border-color);
    background-color: var(--note-secondary-bg-color);
}
.note-light {
    color: var(--note-light-color);
    border-color: var(--note-light-border-color);
    background-color: var(--note-light-bg-color);
}

.code-wrapper {
    background: var(--highlight-top-head);
    border-radius: 8px;
    padding-top: 25px;
}
.code-wrapper::before {
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
    height: 12px;
    left: 12px;
    margin-top: -15px;
    position: absolute;
    width: 12px;
}

.the-dialogue header {
    padding-bottom: 6px;
}

.the-dialogue .sender,
.the-dialogue .responder {
    position: relative;
    background-color: var(--the-dialogue-sender);
    margin: 30px 56px 40px;
    padding: 12px 16px;
    border-radius: 6px;
}

.the-dialogue div.sender,
.the-dialogue div.responder {
    display: flex;
    background-color: transparent;
    padding: 0;
}

.the-dialogue div.sender > p,
.the-dialogue div.responder > p {
    background-color: var(--the-dialogue-sender);
    margin-bottom: 0;
    padding: 8px 12px;
    word-break: break-all;
    border-radius: 6px;
    max-width: 86%;
}

.the-dialogue .sender::before,
.the-dialogue .responder::before {
    content: attr(title);
    position: absolute;
    top: -28px;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
    opacity: 0.65;
}

.the-dialogue .sender::after,
.the-dialogue .responder::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    position: absolute;
    top: 0px;
}

.the-dialogue .sender::before {
    left: -50px;
}

.the-dialogue .sender::after {
    background: url(/blog/img/xinzhizhu.jpg) no-repeat center/100%;
    left: -50px;
}

.the-dialogue .responder {
    background-color: var(--the-dialogue-responder);
    text-align: right;
}

.the-dialogue div.responder {
    background-color: transparent;
    text-align: left;
    justify-content: end;
}
.the-dialogue div.responder > p {
    background-color: var(--the-dialogue-responder);
}

.the-dialogue .responder::before {
    right: -50px;
}

.the-dialogue .responder::after {
    background: url(/blog/img/fengjian.jpg) no-repeat center/100%;
    right: -52px;
}