:root {
    --highlight-top-head: #f2f2f2;
    --the-dialogue-sender: #f0f0f0;
    --the-dialogue-responder: #d7ecff;
    --primary-text-color: #502996;
    --info-text-color: #409EFF;
    --success-text-color: #67C23A;
    --warning-text-color: #E6A23C;
    --danger-text-color: #F56C6C;
    --label-text-color: #fdfdfd;
    --label-primary-bg-color: #8352db;
    --label-info-bg-color: #3a8de4;
    --label-success-bg-color: #6bcc3d;
    --label-warning-bg-color: #e9a641;
    --label-danger-bg-color: #e15858;
}
.primary-text {
    color: var(--primary-text-color);
}
.info-text {
    color: var(--info-text-color);
}
.success-text {
    color: var(--success-text-color);
}
.warning-text {
    color: var(--warning-text-color);
}
.danger-text {
    color: var(--danger-text-color);
}

.label-primary {
    background-color: var(--label-primary-bg-color);
    color: var(--label-text-color);
}
.label-info {
    background-color: var(--label-info-bg-color);
    color: var(--label-text-color);
}
.label-success {
    background-color: var(--label-success-bg-color);
    color: var(--label-text-color);
}
.label-warning {
    background-color: var(--label-warning-bg-color);
    color: var(--label-text-color);
}
.label-danger {
    background-color: var(--label-danger-bg-color);
    color: var(--label-text-color);
}

.code-wrapper {
    background: var(--highlight-top-head);
    border-radius: 8px;
    padding-top: 25px;
}
.code-wrapper::before {
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
    height: 12px;
    left: 12px;
    margin-top: -15px;
    position: absolute;
    width: 12px;
}
[data-user-color-scheme="dark"] {
    --highlight-bg-color: #0c0c0c;
    --highlight-top-head: #000;
    --the-dialogue-sender: #414750;
    --the-dialogue-responder: #0f65a9;
    --label-text-color: #dedede;
    --label-primary-bg-color: #502996;
    --label-info-bg-color: #1a64b1;
    --label-success-bg-color: #3f851e;
    --label-warning-bg-color: #a16e21;
    --label-danger-bg-color: #a52525;
}

.the-dialogue header {
    padding-bottom: 6px;
}

.the-dialogue .sender,
.the-dialogue .responder {
    position: relative;
    background-color: var(--the-dialogue-sender);
    margin: 30px 56px 40px;
    padding: 12px 16px;
    border-radius: 6px;
}

.the-dialogue div.sender,
.the-dialogue div.responder {
    display: flex;
    background-color: transparent;
    padding: 0;
}

.the-dialogue div.sender > p,
.the-dialogue div.responder > p {
    background-color: var(--the-dialogue-sender);
    margin-bottom: 0;
    padding: 8px 12px;
    word-break: break-all;
    border-radius: 6px;
    max-width: 85%;
}

.the-dialogue .sender::before,
.the-dialogue .responder::before {
    content: attr(title);
    position: absolute;
    top: -28px;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
    opacity: 0.65;
    /* color: #a6a6a6; */
}

.the-dialogue .sender::after,
.the-dialogue .responder::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    position: absolute;
    top: 0px;
}

.the-dialogue .sender::before {
    left: -50px;
}

.the-dialogue .sender::after {
    background: url(/blog/img/xinzhizhu.jpg) no-repeat center/100%;
    left: -50px;
}

.the-dialogue .responder {
    background-color: var(--the-dialogue-responder);
    text-align: right;
}

.the-dialogue div.responder {
    background-color: transparent;
    text-align: left;
    justify-content: end;
}
.the-dialogue div.responder > p {
    background-color: var(--the-dialogue-responder);
}

.the-dialogue .responder::before {
    right: -50px;
}

.the-dialogue .responder::after {
    background: url(/blog/img/fengjian.jpg) no-repeat center/100%;
    right: -52px;
}